@page
@model FoodOrders.Pages.OrderModel
@{
	ViewData["Title"] = "Заказы";
}


<div class="container mt-10">
    
    <h1 style="text-align: center; margin-bottom: 2rem; color: var(--text-primary);">Меню</h1>
    <hr>
    <a asp-page="/Index" type="submit" style="background-color: darkred;font-size: 130%" class="btn btn-primary">Отменить заказ</a>

    <br><br><br>
     @* <form method="post" asp-page-handler="Add"> *@
         <div class="alert alert-warning">
             @Model.Message
         </div>
        <button type="submit" class="btn btn-success" style="font-size: 130%" onclick="OrderClick()">Заказать</button>
        <br>
        <label id="basketId" style="font-size: 150%;color: darkgreen">Сумма заказа 0 руб.</label>
    @* </form>  *@
    <br>
    
    <div id="idCardContainer" class="card-container shadow"></div>
</div>

